@charset "utf-8";
body {
    background-color: #f9f7ef;
}
.no_scroll {
    overflow: hidden;
}
/* メインビジュアル */
.main {
    position: relative;
}
.sky img {
    display: block;
    width: 100%;
    height: auto;
}
/* ヘッダー */
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10000;
}
.header_logo {
    width: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10002;
}
/* ヘッダーロゴの色変更 */
/* .logo02 {
    display: none;
} */
.logo01,
.logo02 {
    transition: opacity 2s ease;
    opacity: 0;
}
.logo01.active,
.logo02.active {
    opacity: 1;
}
/* メニュー */
.global_nav {
    display: none;
}

.openbtn {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    /* 位置の調整 */
    position: absolute;
    top: 35px;
    right: 30px;
    z-index: 10002;
}
.openbtn span {
    display: block;
    width: 28px;
    height: 2px;
    text-align: right;
    background: #564843;
    /* 位置の調整 */
    /* position: absolute; */
    position: relative;
    top: 12px;
    right: 0;
    transition: 0.5s;
}
.openbtn span::before {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background: #564843;
    /* 位置の調整 */
    position: absolute;
    transition: 0.5s;
    top: -10px;
    right: 0;
}
.openbtn span::after {
    content: "MENU";
    /* display: block; */
    font-size: 10px;
    /* 位置の調整 */
    position: absolute;
    top: 7px;
    right: 0;
    transition: 0.5s;
    /* top: 7px; */
}
/* ばつ印 */
.openbtn.open span {
    background: transparent;
}
.openbtn.open span::before {
    width: 30px;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
    transform: rotate(45deg);
    top: 0;
}
.openbtn.open span::after {
    content: "";
    width: 30px;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
    position: absolute;
    transform: rotate(-45deg);
    top: 0;
}
/* メニューの見た目 */
.global_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("../images/FV_flower.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-blend-mode: multiply;
    background-color: rgba(125, 184, 195, 0.9);
}
.global_nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    height: 100%;
}
.global_nav ul li {
    color: #fff;
    font-size: 25px;
    line-height: 2.96;
    font-weight: 600;
}
.SNS_btn {
    display: flex;
    padding-top: 100px;
    gap: 35px;
}
.SNS_btn li img {
    height: 55px;
}
/* キャッチコピー */
.catch h2 {
    font-family: kiwi-maru, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    line-height: 1.7;
    color: #ffffff;
    text-shadow: 0 0 10px rgb(100, 170, 181, 0.77);
    /* 位置の調整 */
    position: absolute;
    top: 14%;
    left: 10%;
    z-index: 15;
}
.flower img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 10;
}
/* スクロール */
.scrol {
    display: block;
}
.scroll_wrap {
    max-width: 100px;
    width: 100%;
    height: 100px;
    position: absolute;
    top: -4%;
    right: 10%;
    z-index: 100;
}
@keyframes rotation {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
.scroll_text {
    animation: 20s linear infinite rotation;
    object-fit: contain;
}
.scroll_arrow {
    height: 27px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* コンセプト */
.green_wrap {
    width: 100%;
    position: relative;
    /* top: 795px; */
    z-index: 50;
    background-image: url("../images/FV_green.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16% 0;
    margin-top: -5%;
}
.butterfly01 {
    max-width: 9%;
    position: absolute;
    top: 21%;
    right: 23%;
}
.concept_lead {
    font-family: kiwi-maru, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 2.27;
    text-align: center;
    top: 30%;
    /* top: 200px; */
    left: 30%;
    /* left: 420px; */
}

/* 768px~960px */
@media screen and (max-width: 960px) {
    /* キャッチコピー */
    .catch h2 {
        font-size: 38px;
        line-height: 2;
    }
}
/* ~767px */
@media screen and (max-width: 767px) {
    /* メインビジュアル */
    .sky img {
        max-width: 100%;
    }
    /* ヘッダー */
    .header_logo {
        width: 100px;
        top: 16px;
        right: 15px;
    }
    .openbtn {
        top: 20px;
        right: 20px;
    }
    /* キャッチコピー */
    .catch h2 {
        font-size: 24px;
        line-height: 2.5;
    }
    .flower img {
        top: 0;
    }
    /* スクロール */
    .scroll_wrap {
        right: -5%;
        overflow: hidden;
    }

    /* コンセプト */
    .green_wrap {
        background-image: url("../images/FV_green_sp.svg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30% 0;
        margin-top: -35%;
    }
    .butterfly01 {
        max-width: 16%;
        top: 14%;
        right: 18%;
    }
    .concept_lead {
        font-size: 16px;
    }
}
@media screen and (max-width: 450px) {
    .concept_lead span {
        display: inline-block;
    }
}

/* ABOUT ME */
section {
    position: relative;
}
h3 {
    font-size: 48px;
    color: #489baa;
    text-align: center;
    margin: 200px 0 50px 0;
}
.cloud01 {
    max-width: 20%;
    position: absolute;
    top: -100px;
    left: 1%;
}
.cloud02 {
    max-width: 15%;
    position: absolute;
    top: 485px;
    right: 0;
}
.ABOUT_wrap {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.ABOUT_photo {
    width: 100%;
    min-height: 380px;
}
.ABOUT_photo img {
    width: 32%;
    padding-left: 11%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.ABOUT_intro {
    max-width: 730px;
    width: 100%;
    height: 506px;
    background-image: url(../images/ABOUT_shape.png);
    background-size: 100%;
    background-repeat: no-repeat;

    /* margin-right: 10%; */
    margin-left: -36%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ABOUT_intro_inner > p {
    font-size: 18px;
    align-items: center;
    margin: 0 -5% 0 5%;
    padding-bottom: 20%;
}
.ABOUT_btn {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.ABOUT_btn img {
    height: 27px;
}
.ABOUT_btn p {
    font-size: 12px;
    padding-top: 2px;
}
/* ~767px */
@media screen and (max-width: 767px) {
    h3 {
        font-size: 36px;
    }
    .ABOUT_wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ABOUT_photo img {
        max-width: 80%;
        width: 100%;
        /* padding-left: 11%; */
    }
    .ABOUT_intro {
        background-image: url(../images/sp_ABOUT_shape@2x.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 380px;
        margin: 0 auto;
        position: relative;
        z-index: 10;
    }
    .ABOUT_intro_inner span {
        display: inline-block;
    }
    .ABOUT_btn {
        position: absolute;
        right: 8%;
        bottom: 8%;
    }
}

/* WORKS */
.sun {
    max-width: 19%;
    position: absolute;
    top: -132px;
    left: 6%;
}
.WORKS_circle_wrap {
    margin: 0 auto;
    width: 44%;
    position: relative;
}
.WORKS_circle {
    /* margin: 0 auto; */
    background: #ffffff;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    position: absolute;
    top: -50px;
}
.WORKS_btn {
    margin-top: 13px;
    position: absolute;
    right: 33%;
    text-align: center;
}
.WORKS_btn a {
    display: inline-block;
    background-color: #fae696;
    width: 100px;
    padding: 8px 0;
    border-radius: 20px;
    font-size: 14px;
}
.WORKS_btn a:hover {
    opacity: 0.7;
    transition: 0.3s;
    transform: scale(1.1);
}
/* スライダー */
.WORKS_slider {
    max-width: 84%;
    margin: 0 auto;
}
.WORKS_item {
    margin: 0 30px;
}
.WORKS_item img {
    border-radius: 3%;
}
.slick-slide img {
    transform: scale(0.75);
    transition: transform 0.3s;
    width: 100%;
}
.slick-slide.slick-center img {
    transform: scale(1);
}
.slider .slick-list {
    overflow: visible;
}
/* 矢印の見た目 */
.slide-arrow {
    cursor: pointer;
    width: 34px;
    position: absolute;
    bottom: -23px;
}
.prev-arrow {
    left: 33%;
}
.next-arrow {
    right: 51%;
}
/* ~767px */
@media screen and (max-width: 767px) {
    .WORKS_circle_wrap {
        width: 110vw;
        margin-left: calc(50% - 110vw / 2);
        /* overflow: hidden; */
    }
    .WORKS_btn {
        left: 0;
        right: 0;
    }
    /* スライダー */

    /* 矢印 */
    .prev-arrow {
        left: 8%;
    }
    .next-arrow {
        right: 8%;
    }
}

/* SKILL */
.cloud03 {
    max-width: 17%;
    position: absolute;
    top: -93px;
    right: 2%;
}
.SKILL_wrap {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 80px;
    /* 15% 0 15%; */
    display: flex;
    justify-content: center;
    gap: 23%;
}
.SKILL_unit {
    max-width: 350px;
    width: 32%;
    display: flex;
    flex-direction: column;
}

h4 {
    text-align: center;
    font-size: 48px;
    color: #aaa3a1;
}
.SKILL_tool {
    font-size: 17px;
    font-weight: 600;
    padding-top: 50px;
    margin-top: auto;
    height: calc(1.75em * 2);
}
/* ~767px */
@media screen and (max-width: 767px) {
    .SKILL_wrap {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    .SKILL_unit {
        width: 100%;
    }
}

/* CONTACT */
.cloud04 {
    max-width: 24%;
    position: absolute;
    top: -232px;
    left: 0;
}
.cloud05 {
    max-width: 17%;
    position: absolute;
    top: 132px;
    right: 4%;
}
.CONTACT div {
    text-align: center;
}
.CONTACTmessage p {
    display: inline-block;
    text-align: left;
    padding: 60px 30px 0;
}
.CONTACT_btn {
    padding: 110px 0 120px 0;
}
.CONTACT_btn img {
    min-width: 250px;
    width: 29%;
}
.CONTACT_btn a img:hover {
    opacity: 0.7;
    transition: 0.3s;
    /* transform: scale(1.1); */
}

/* フッター */
footer {
    margin-top: 150px;
}
.footer_bud {
    padding-left: 10%;
}
.footer_soil {
    display: block;
    width: 100%;
}
.copy {
    margin-top: -30px;
    text-align: center;
}
.copy p {
    font-size: 12px;
    color: #ffffff;
}
/* ページトップアイコン */
.page_top {
    width: 100px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
}
.pagetop01,
.pagetop02 {
    transition: opacity 2s ease;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.pagetop01.active,
.pagetop02.active {
    opacity: 1;
}
