@charset "utf-8";
body {
    background-color: #f9f7ef;
}
/* -- ヘッダー -- */
header {
    position: relative;
    height: 80px;
    margin-bottom: 80px;
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10000;
}
.header_logo {
    width: 150px;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 10002;
}
.color_logo {
    position: absolute;
    top: 0;
    left: 0;
}

/* メニュー */
.white_logo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.global_nav {
    display: none;
}
.openbtn {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    /* 位置の調整 */
    position: absolute;
    top: 35px;
    right: 30px;
    z-index: 10002;
}
.openbtn span {
    display: block;
    width: 28px;
    height: 2px;
    text-align: right;
    background: #7db8c3;
    /* 位置の調整 */
    position: relative;
    top: 12px;
    right: 0;
    transition: 0.5s;
}
.openbtn span::before {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background: #7db8c3;
    /* 位置の調整 */
    position: absolute;
    transition: 0.5s;
    top: -10px;
    right: 0;
}
.openbtn span::after {
    content: "MENU";
    font-size: 10px;
    color: #7db8c3;
    /* 位置の調整 */
    position: absolute;
    top: 7px;
    right: 0;
    transition: 0.5s;
    /* top: 7px; */
}
/* ばつ印 */
.openbtn.open span {
    background: transparent;
}
.openbtn.open span::before {
    width: 30px;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
    transform: rotate(45deg);
    top: 0;
}
.openbtn.open span::after {
    content: "";
    width: 30px;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
    position: absolute;
    transform: rotate(-45deg);
    top: 0;
}
/* メニューの見た目 */
.global_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("../images/FV_flower.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-blend-mode: multiply;
    background-color: rgba(125, 184, 195, 0.9);
}
.global_nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    height: 100%;
}
.global_nav ul li {
    color: #fff;
    font-size: 25px;
    line-height: 2.96;
    font-weight: 600;
}
.SNS_btn {
    display: flex;
    padding-top: 100px;
    gap: 35px;
}
.SNS_btn li img {
    height: 55px;
}
/* ~767px */
@media screen and (max-width: 767px) {
    .header_logo {
        /* width: 100px; */
        top: 15px;
        left: 17px;
    }
    .header_logo img {
        width: 100px;
    }
    .openbtn {
        top: 25px;
        right: 18px;
    }
}

/* -- コンセプト -- */
/* slick用 */
/* .concept_slider_wrap {
    background: #e1f2f2;
    max-width: 1100px;
    width: 81%;
    padding: 7% 0;
    margin: 0 auto;
    margin-bottom: 125px;
}
.concept_slider {
    display: flex;
    align-items: center;
    justify-content: center;
}
.concept_item img {
    max-width: 900px;
    width: 82%;
    margin: 0 auto;
}
.concept-slider .slick-slide {
    transform-origin: left center;
    transition: transform 0.6s ease, opacity 0.6s ease;
    perspective: 1000px;
}
.concept-slider .slick-current {
    transform: rotateY(0deg);
    opacity: 1;
}
.concept-slider .slick-next {
    transform: rotateY(-90deg);
    opacity: 0;
} */
/* 矢印の見た目
 .slide-arrow {
    cursor: pointer;
    width: 34px;
    position: absolute;
    bottom: -18px;
}
.prev-arrow {
    left: 9%;
}
.next-arrow {
    right: 9%;
} */

/* bookblock用 */
.concept_slider_wrap {
    background: #e1f2f2;
    max-width: 1100px;
    width: 81%;
    padding: 7% 0;
    margin: 0 auto;
    margin-bottom: 125px;
    position: relative;
}
.bb-bookblock {
    /* width: 1100px; */
    /* height: 700px; */
    width: 900px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.concept_item {
    background: #e1f2f2;
    /* max-width: 1100px; */
    /* width: 81%; */
    /* padding: 7% 0; */
    margin: 0 auto;
    /* margin-bottom: 125px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.bb-bookblock picture {
    max-width: 900px;
    /* width: 82%; */
    margin: 0 auto;
    /* height: 500px; */
}
/* 矢印 */
.bb-arrow {
    cursor: pointer;
    width: 34px;
    position: absolute;
    bottom: -18px;
}
.bb-custom-icon {
    display: block;
}
.bb-custom-icon-arrow-left {
    left: 9%;
}
.bb-custom-icon-arrow-right {
    right: 9%;
}
/* -- プロフィール -- */
.profile_wrap {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 7%;
}
.profile_text {
    padding-left: 30px;
    max-width: 500px;
}
h5 {
    font-family: kiwi-maru, sans-serif;
    font-weight: 500;
    font-size: 28px;
}
h5 span {
    display: inline-block;
}
.profile_text p {
    font-size: 17px;
}
.profile_photo {
    max-width: 480px;
}
/* ~767px */
@media screen and (max-width: 767px) {
    .profile_wrap {
        flex-direction: column-reverse;
        align-items: center;
    }
    h5 {
        font-size: 17px;
    }
    .profile_text p {
        font-size: 14px;
    }
}

/* -- my story -- */
h4 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 90px;
}
.timeline {
    max-width: 1100px;
    margin: 0 auto;
    background-image: url(../images/my_story_tree@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: bottom; */
    position: relative;
}
/* 縦線 */
.timeline::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #564843;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.timeline li {
    display: flex;
    justify-content: center;
    position: relative;
}

.timeline li:nth-child(odd) {
    flex-direction: row-reverse;
}
.timeline_item {
    width: 38%;
}
.timeline_ttl {
    font-size: 22px;
    flex: 1;
}
/* マーカー */
.timeline_ttl::before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #564843;
    position: absolute;
    top: 7%;
    left: calc(50% - 3.5px);
}
/* 横線 */
.timeline li:nth-child(odd) .timeline_ttl::after {
    content: "";
    display: block;
    width: 5%;
    height: 1px;
    background: #564843;
    position: absolute;
    top: calc(7% + 3.5px);
    left: 50%;
}
.timeline li:nth-child(even) .timeline_ttl::after {
    content: "";
    display: block;
    width: 5%;
    height: 1px;
    background: #564843;
    position: absolute;
    top: calc(7% + 3.5px);
    left: calc(50% - 5%);
}
.timeline_box {
    width: 50%;
}
/* 矢印 */
.timeline_arrow {
    height: 70px;
}
.timeline_arrow::before {
    content: "";
    width: 2%;
    height: 1px;
    background-color: #564843;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: rotate(-45deg);
    transform-origin: bottom left;
}
/* ~767px */
@media screen and (max-width: 767px) {
    h4 {
        font-size: 27px;
    }
    .timeline {
        background-size: 180%;
        background-position: left 100% bottom;
    }
    /* 縦線 */
    .timeline::before {
        left: 8%;
    }
    .timeline li {
        justify-content: normal;
    }
    .timeline_item {
        width: 75%;
        margin-bottom: 65px;
        margin-left: 17%;
    }
    .timeline_ttl {
        font-size: 16px;
        font-weight: 500;
    }
    .timeline_detail {
        font-size: 14px;
    }
    /* マーカー */
    .timeline_ttl::before {
        top: 5%;
        left: calc(8% - 3.5px);
    }
    /* 横線 */
    .timeline li:nth-child(odd) .timeline_ttl::after,
    .timeline li:nth-child(even) .timeline_ttl::after {
        top: calc(5% + 3.5px);
        left: 8%;
        width: 8%;
    }
    .timeline li:nth-child(odd) {
        flex-direction: column;
    }
    .timeline_box {
        display: none;
    }
    /* 矢印 */
    .timeline_arrow::before {
        width: 5%;
        left: 8%;
    }
}
/* ~600px */
@media screen and (max-width: 600px) {
    .timeline {
        background-size: 245%;
        background-position: left 80% bottom;
    }
}
/* ~300px */
@media screen and (max-width: 380px) {
    .timeline {
        background-size: 500%;
        background-position: left 60% bottom;
    }
}

/* -- favorite -- */
.favorite_item_wrap {
    display: flex;
    flex-wrap: wrap;
}
.favorite_item {
    width: 25%;
    text-align: center;
    position: relative;
}
.favorite_item img {
    width: 100%;
}
.favorite_item > p {
    font-size: 18px;
    position: absolute;
    top: 6%;
    right: 0;
    left: 0;
}
.favorite_mask {
    width: 100%;
    height: 100%;
    background-color: rgba(22, 10, 3, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favorite_mask:hover {
    opacity: 1;
}
.favorite_mask p {
    width: 74%;
    /* height: 74%; */
    color: #ffffff;
    display: inline-block;
    text-align: left;
}
/* 980~1210px */
@media screen and (max-width: 1210px) {
    .favorite_mask p {
        width: 80%;
        font-size: 14px;
        font-weight: 300;
    }
}
/* 768~979px */
@media screen and (max-width: 979px) {
    .favorite_mask p {
        font-size: 12px;
        line-height: 1.41;
    }
}
/* ~767px */
@media screen and (max-width: 767px) {
    .favorite_item {
        width: 50%;
        margin: 0 auto;
    }
    .favorite_item > p {
        font-size: 14px;
    }
    .favorite_mask p {
        width: 87%;
        letter-spacing: -0.04em;
    }
    .favorite03 {
        order: 2;
    }
    .favorite04 {
        order: 1;
    }
    .favorite05 {
        order: 4;
    }
    .favorite06 {
        order: 3;
    }
    .favorite07 {
        order: 5;
    }
    .favorite08 {
        order: 6;
    }
}
/* ~767px */
@media screen and (max-width: 767px) {
    .favorite_mask p {
        width: 90%;
        font-size: 10px;
    }
}
/* -- フッター -- */
footer {
    margin-top: 150px;
}
.footer_bud {
    padding-left: 10%;
}
.footer_soil {
    display: block;
    width: 100%;
}
/* -- ページトップアイコン -- */
.page_top {
    width: 100px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
}
