@charset "utf-8";
body {
    background-color: #f9f7ef;
}
/* -- ヘッダー -- */
header {
    position: relative;
    height: 80px;
    margin-bottom: 80px;
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10000;
}
.header_logo {
    width: 150px;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 10002;
}
.color_logo {
    position: absolute;
    top: 0;
    left: 0;
}
.no_scroll {
    overflow: hidden;
}

/* メニュー */
.white_logo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.global_nav {
    display: none;
}
.openbtn {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 30px;
    z-index: 10002;
}
.openbtn span {
    display: block;
    width: 28px;
    height: 2px;
    text-align: right;
    background: #7db8c3;
    position: relative;
    top: 12px;
    right: 0;
    transition: 0.5s;
}
.openbtn span::before {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background: #7db8c3;
    position: absolute;
    transition: 0.5s;
    top: -10px;
    right: 0;
}
.openbtn span::after {
    content: "MENU";
    font-size: 10px;
    color: #7db8c3;
    position: absolute;
    top: 7px;
    right: 0;
    transition: 0.5s;
}
/* ばつ印 */
.openbtn.open span {
    background: transparent;
}
.openbtn.open span::before {
    width: 30px;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
    transform: rotate(45deg);
    top: 0;
}
.openbtn.open span::after {
    content: "";
    width: 30px;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
    position: absolute;
    transform: rotate(-45deg);
    top: 0;
}
/* メニューの見た目 */
.global_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("../images/FV_flower.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-blend-mode: multiply;
    background-color: rgba(125, 184, 195, 0.9);
}
.global_nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    height: 100%;
}
.global_nav ul li {
    color: #fff;
    font-size: 25px;
    line-height: 2.96;
    font-weight: 600;
}
.SNS_btn {
    display: flex;
    padding-top: 100px;
    gap: 35px;
}
.SNS_btn li img {
    height: 55px;
}
/* ~767px */
@media screen and (max-width: 767px) {
    header {
        height: 40px;
        margin-bottom: 50px;
    }
    .header_logo {
        top: 15px;
        left: 17px;
    }
    .header_logo img {
        width: 100px;
    }
    .openbtn {
        top: 25px;
        right: 18px;
    }
}

/* -- メインコンテンツ -- */
.SECRET p {
    color: #489baa;
    text-align: center;
}
.SECRET_message p {
    font-size: 22px;
    line-height: 3.5;
}
.secondary_SECRET_message p {
    font-family: braisetto, script;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    margin: 80px 0 10px;
}
.TOP_btn {
    padding: -20px 0 150px 0;
    text-align: center;
}
.TOP_btn img {
    width: 29%;
}
.TOP_btn a img:hover {
    opacity: 0.7;
    transition: 0.3s;
}
@media screen and (max-width: 767px) {
    .SECRET {
        padding: 0 8%;
    }
    .TOP_btn img {
        min-width: 250px;
    }
    .SECRET_message p {
        font-size: 13px;
    }
    .secondary_SECRET_message p {
        font-size: 27px;
    }
}

/* -- フッター -- */
footer {
    margin-top: 150px;
}
.footer_flower {
    height: 100vh;
    background-image: url(../images/SECRET_flower@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.copy {
    margin-top: -30px;
    text-align: center;
}
.copy p {
    font-size: 12px;
    color: #ffffff;
}

/* フッターの下部固定 */
.footer_fixed {
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 25%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
/* ~767px */
@media screen and (max-width: 767px) {
    .tree {
        max-width: 50%;
        bottom: -20px;
    }
}
